<?xml version="1.0"?>

<launch>
	
	<node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>

        <param name = "starting_map"          type = "str"      value = "/topological_map.owl"  />
        <param name = "operative_map"         type = "str"      value = "test1.owl"             />
        <param name = "charging station"      type = "str"      value = "E"                     />
        <param name = "location_property"     type = "str"      value = "hasDoor"               />
        <param name = "robot_property"        type = "str"      value = "isIn"                  />
        <param name = "urgent_property"       type = "str"      value = "urgencyThreshold"      />
        <param name = "visited_property"      type = "str"      value = "visitedAt"             />

        <param name = "robot_name"            type = "str"      value = "Robot1"                />
        <param name = "time"                  type = "int"      value = "10"                    />
        <param name = "battery_time"          type = "int"      value = "300"                   />
       
        <node pkg = "exproblab_assignment1_russo_gabriele"  
        type = "robot_state.py"
        name = "robot_state"
        output = "screen"
        launch-prefix="xterm -e"
        > </node>

        <node pkg = "exproblab_assignment1_russo_gabriele"  
        type = "state_machine.py"
        name = "state_machine"
        output = "screen"
        launch-prefix="xterm -e"
        > </node>



</launch>
